<!DOCTYPE html>
<html>
  <head>
    <title>BracketedTaxEngine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/1576428ae6.js" crossorigin="anonymous"></script>
  </head>

    <script text="text/javascript">window.homepage_splash="<%=image_url("homepage_splash.png")%>"</script>

  <body>
    <%= yield %>
  </body>
</html>
